In [25]:
import strax
import pandas as pd
pd.options.display.max_colwidth = 100
from tqdm import tqdm
import numpy as np
from scipy.optimize import curve_fit
from scipy import stats
import straxen
st = straxen.contexts.strax_workshop_dali()

st.data_info('raw_records')

,Field name,Data type,Comment
0,channel,int16,Channel/PMT number
1,dt,int16,Time resolution in ns
2,time,int64,Start time of the interval (ns since unix epoch)
3,length,int32,Length of the interval in samples
4,area,int32,Integral in ADC x samples
5,pulse_length,int32,Length of pulse to which the record belongs (without zero-padding)
6,record_i,int16,Fragment number in the pulse
7,baseline,float32,Baseline in ADC counts. data = int(baseline) - data_orig
8,reduction_level,uint8,Level of data reduction applied (strax.ReductionLevel enum)
9,data,"('<i2', (110,))",Waveform data in ADC counts above baseline

In [26]:
runs = st.select_runs(run_mode='LED*')
print(runs.tags, runs.name)

Checking data availability: 100%|██████████| 5/5 [00:04<00:00,  1.18it/s]

41     gain_step0,_sciencerun2_candidate
42     gain_step1,_sciencerun2_candidate
43     gain_step2,_sciencerun2_candidate
44     gain_step3,_sciencerun2_candidate
45     gain_step4,_sciencerun2_candidate
46    spe_topbulk,_sciencerun2_candidate
47    spe_topring,_sciencerun2_candidate
48     Afterpulse,_sciencerun2_candidate
49     Afterpulse,_sciencerun2_candidate
Name: tags, dtype: object 41    180219_0952
42    180219_1001
43    180219_1011
44    180219_1021
45    180219_1030
46    180219_1049
47    180219_1059
48    180219_1110
49    180219_1116
Name: name, dtype: object

In [28]:
Name = runs.name.values
Tags = runs.tags.values
df = pd.DataFrame

In [29]:
NameAndTag

[array(['180219_0952', '180219_1001', '180219_1011', '180219_1021',
        '180219_1030', '180219_1049', '180219_1059', '180219_1110',
        '180219_1116'], dtype=object),
 array(['gain_step0,_sciencerun2_candidate',
        'gain_step1,_sciencerun2_candidate',
        'gain_step2,_sciencerun2_candidate',
        'gain_step3,_sciencerun2_candidate',
        'gain_step4,_sciencerun2_candidate',
        'spe_topbulk,_sciencerun2_candidate',
        'spe_topring,_sciencerun2_candidate',
        'Afterpulse,_sciencerun2_candidate',
        'Afterpulse,_sciencerun2_candidate'], dtype=object)]

In [40]:
df = pd.DataFrame(np.transpose([runs.tags.values, runs.name.values]), columns=['Tags', 'Name'])

In [38]:
df

                                 Tags         Name
0   gain_step0,_sciencerun2_candidate  180219_0952
1   gain_step1,_sciencerun2_candidate  180219_1001
2   gain_step2,_sciencerun2_candidate  180219_1011
3   gain_step3,_sciencerun2_candidate  180219_1021
4   gain_step4,_sciencerun2_candidate  180219_1030
5  spe_topbulk,_sciencerun2_candidate  180219_1049
6  spe_topring,_sciencerun2_candidate  180219_1059
7   Afterpulse,_sciencerun2_candidate  180219_1110
8   Afterpulse,_sciencerun2_candidate  180219_1116